html, body {
	/* Humanist fonts (https://modernfontstacks.com) */
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

footer {
	padding: 5px;
	text-align: center;
}

canvas {
	display: block;
}

input {
	color: #eeeeee;
}
